@model Task2.Models.AccountViewModel;

@{
    ViewData["Title"] = "View File";
}

<h2>Данные таблицы</h2>

<a href="/ExportFile/ExportToExcel?fileId=@Model.UploadedFileId" class="btn btn-success">Скачать Excel</a>
<a asp-action="Index" class="btn btn-primary">Обратно на главную</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th rowspan="1" style="border-right: 1px solid black; text-align: center;">Б/сч</th>
            <th rowspan="1" style="border-right: 1px solid black; text-align: center;">Класс</th>
            <th colspan="2" style="border-right: 1px solid black; text-align: center;">ВХОДЯЩЕЕ САЛЬДО</th>
            <th colspan="2" style="border-right: 1px solid black; text-align: center;">ОБОРОТЫ</th>
            <th colspan="2" style="text-align: center;">ИСХОДЯЩЕЕ САЛЬДО</th>
        </tr>
        <tr>
            <th style="border-right: 1px solid black;"></th>
            <th style="border-right: 1px solid black;"></th>
            <th style="border-right: 1px solid black; text-align: center;">Актив</th>
            <th style="border-right: 1px solid black; text-align: center;">Пассив</th>
            <th style="border-right: 1px solid black; text-align: center;">Дебет</th>
            <th style="border-right: 1px solid black; text-align: center;">Кредит</th>
            <th style="border-right: 1px solid black; text-align: center;">Актив</th>
            <th style="text-align: center;">Пассив</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model.Accounts)
        {
            <tr>
                <td>@account.AccountNumber</td>
                <td>@account.Class</td>
                <td>@account.IncomingBalanceActive</td>
                <td>@account.IncomingBalancePassive</td>
                <td>@account.TurnoverDebit</td>
                <td>@account.TurnoverCredit</td>
                <td>@account.OutgoingBalanceActive</td>
                <td>@account.OutgoingBalancePassive</td>
            </tr>
        }
    </tbody>
</table>
